.header-feedback {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-feedback-contacts + .header-feedback-contacts {
  margin-left: 50px;
}
.header-feedback-link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: transform;

  color: currentColor;

  & :hover,
  & :focus {
    color: var(--accent);
    transform: scale(1.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-feedback-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-feedback-link:hover .header-feedback-icon,
.header-feedback-link:focus .header-feedback-icon {
  fill: var(--accent);
}
