.header-logo {
  margin-right: 93px;
  color: var(--h-clr);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-logo .header-logo-first {
  color: var(--accent);
}
.header-logo .header-logo-second {
  color: var(--main-bcgclr);
}
