.specs-title {
  background-color: var(--titlesection);
}
.specs-list {
  display: flex;
  align-items: center;
}
.specs-item + .specs-item {
  margin-left: 30px;
}
.specs-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: #f5f4fa;
}
.specs-elements {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}
.specs-elements-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
