body {
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;

  color: var(--main-textclr);
  background-color: var(--main-bcgclr);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--h-clr);
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.activity__title,
.specs-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--h-clr);
  text-align: center;
}
