:root {
  --main-font: Roboto;
  --main-bcgclr: #ffffff;
  --main-textclr: #757575;
  --h-clr: #212121;
  --accent: #2196f3;
  --footer: #2f303a;
  --titlesection: #e5e5e5;
  --activity-section: #f5f4fa;
  --portfoliosection: #eeeeee;
  --footeraddress: rgba(255, 255, 255, 0.6);

  --btn-main-bg: #2196f3;
  --btn-secondary-bg: #f5f4fa;

  --icon-main-cl: #afb1b8;
  --icon-secondary-cl: #ffffff;
  --icon-accent-cl: #2196f3;
}
